apiVersion: v1

kind: Pod

metadata:

  name: hello-world-pod

spec:

  containers:

  - name: hello-world

    image: sowmiyapriya21/helloworld-demo-python:v1

    ports:

    - containerPort: 80

----------pod2.yaml

apiVersion: v1
kind: Pod
metadata:
  name: nginx
spec:
  containers:
  - name: nginx
    image: nginx:1.14.2
    ports:
    - containerPort: 80
